{:paths ["src"] ;; project paths
 :deps
 {org.clojure/tools.cli {:mvn/version "1.0.214"} ;; was "0.3.5"
  org.clojure/data.json {:mvn/version "2.4.0"} ;; was "0.2.6"
  org.clojure/data.codec {:mvn/version "0.1.1"} ;; was "0.1.0" - still 2 yrs old
  org.clojure/data.csv {:mvn/version "1.0.1"} ;; was "0.1.4"
  org.clojure/data.xml {:mvn/version "0.0.8"}
  org.clojure/tools.logging {:mvn/version "1.2.4"} ;; was "1.0.0"
  clojure.java-time/clojure.java-time {:mvn/version "1.2.0"} ;; was "0.3.2"
  ;; me.raynes/fs {:mvn/version "1.4.6"} ;; 7 years old!
  environ/environ {:mvn/version "1.2.0"} ;; was "1.1.0"
  clojure-future-spec/clojure-future-spec {:mvn/version "1.9.0"} ;; Remove this backward compatibility
  com.taoensso/timbre {:mvn/version "6.1.0"} ;; was "4.10.0"
  com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"} ;; was "0.3.19"
  avenir/avenir {:mvn/version "0.2.2"}
  ;; camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"} ;; was "0.4.0"
  ;; metosin/scjsv {:mvn/version "0.6.2"} ;; was "0.4.1"
  com.novemberain/langohr {:mvn/version "5.4.0"} ;; was "3.3.0"
  ;; instaparse/instaparse {:mvn/version "1.4.12"} ;; was "1.4.7"
  random-seed/random-seed {:mvn/version "1.0.0"} ;; 7 years old
  ;; clojurewerkz/machine_head {:mvn/version "1.0.0"}
  org.clojure/clojure {:mvn/version "1.8.0"}
  org.clojure/core.async {:mvn/version "0.2.395"}
  org.clojure/math.numeric-tower {:mvn/version "0.0.2"}
  net.mikera/core.matrix {:mvn/version "0.61.0"}
  net.mikera/vectorz-clj {:mvn/version "0.47.0"}
  org.slf4j/slf4j-api {:mvn/version "1.7.21"}
  ruiyun/tools.timer {:mvn/version "1.0.1"}
  }

 :aliases
 {;; Run with clj -T:build function-in-build
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}
          :ns-default build}}}
